@model thema12.Models.Task

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.E_mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blocker_Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blocker_Task.Task_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus.TaskStatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Task_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
